<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body bgcolor="#2E8B57">

<h1 align="center" >SALVUS/CADASTRO</h1>
<hr>
<div>
  <form  action="cadastro">
    <label>
      <label><h3> <b> Dados pessoais:</b></h3>
      </label>

      <label><h4></h4>Nome:
        <br><input type="text" placeholder="Digite seu nome">
      </label></br>

      <label><h4></h4>Email:
        <br><input type="text" placeholder="Digite seu email">
      </label></br>

      <label><h4></h4>Sexo:
        <br><input type="radio" name="OPCAO" value="op1">Masculino
        <input type="radio" name="OPCAO" value="op2">Feminino
        <input type="radio" name="OPCAO" value="op2">Outro
      </label></br>

      <label><h4></h4>Data de Nascimento:
        <br><input type="date">
      </label></br>


      <label><h4></h4>Telefone:
        <br><input type="tel" name="usertel" placeholder="(xx)xxxx-xxxx">
      </label>


      <label> <h3> <b>Dados profissionais:</b></h3>
      </label>

      <label><h4></h4>Profissão:
        <br></b><input type="text" placeholder="Digite sua profissão"/> <br />
      </label>


      <label><h4></h4> Numero Registro:
        <br><input type="text" placeholder="Numero de registro" /> <br />
      </label>


      <label><h3> <b>Área de atuação:</b></h3>
      </label>

      <label><h4></h4>Especialização:
        <br><input type="text" placeholder="Digite sua especialização" />
      </label></br>

      <label><h4></h4>Localicação Atual:
        <br><input type="text"  placeholder="Digite sua localização" />
      </label></br>

      <label><h4></h4>Deslocamento:<br>
        <input type="radio" name="Horaio" value="op1">30min - 1hr<br>
        <input type="radio" name="Horaio" value="op1">1h - 2hrs<br>
        <input type="radio" name="Horario" value="op2">2hrs - 3hrs<br>
        <input type="radio" name="Horario" value="op3">3hrs ou mais</br>

        <br>
        <button type="Entrar" onclick= "alert('CADASTRADO COM SUCESSO');">
          FINALIZAR CADASTRO
        </button>


      </label>
    </label>
  </form>
</div>
</body>
</html>